.sidebar {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    height: 100vh;
    width: 100%;
    border-radius: 20px;
    background-color: #000000;
    color: aliceblue;
    align-items: center;
    margin: 0 auto;
}

.sidebar-heading h1 {
    text-align: center;
}

.sidebar-menu{
    position: relative;
    right: 10px;
    display: flex;
    width: 100%;
    /* margin-top: 20px; */
}

.sidebar-menu img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.sidebar-menu ul li {
    width: 100%;
    list-style: none;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.sidebar-menu li span {
    margin-bottom: 10px;
}