.navbar {
    display: flex;
    justify-content: space-between;
    min-height: 50px;
    min-width: 100%;
    width: 80vw;
}

.navbar-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

.search {
    margin: 0 20px;
}

.search input {
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 200px;
}

.notification-bell {
    margin: 0 20px;
}
.profile-img img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.logout-button button {
    background-color: #000;
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 80px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 1.2rem;
    color: #fff;
    text-shadow: 0px 0px 5px #fff;
    box-shadow: 0px 0px 10px #fff;
  }
  
  .logout-button button:hover {
    background-color: #fff;
    color: #000;
  }